@charset "UTF-8";
/* Basscss Defaults */
/*

   COLOR VARIABLES

   - Cool
   - Warm
   - Gray Scale

*/
@font-face {
  font-family: "Fourteen-oh-three Vintage Mono";
  src: url("/404/fonts/A1403VintageMonoPro-Regular-v2-20160131T0048.woff2") format("woff2"),
       url("/404/fonts/A1403VintageMonoPro-Regular-v2-20160131T0048.woff") format("woff");
}

body {
  margin: 0; }

img {
  max-width: 100%; }

svg {
  max-height: 100%; }

/* Basscss Base Forms */
input,
select,
textarea,
fieldset {
  font-family: inherit;
  font-size: 1rem;
  box-sizing: border-box;
  margin-top: 0;
  margin-bottom: 0; }

label {
  vertical-align: middle; }

input[type=text],
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=time],
input[type=url],
input[type=week] {
  height: 2.25rem;
  padding: 0.5rem 0.5rem;
  vertical-align: middle;
  -webkit-appearance: none; }

select {
  line-height: 1.75;
  padding: 0.5rem 0.5rem; }

select:not([multiple]) {
  height: 2.25rem;
  vertical-align: middle; }

textarea {
  line-height: 1.75;
  padding: 0.5rem 0.5rem; }

/* Basscss Defaults */
/*

   COLOR VARIABLES

   - Cool
   - Warm
   - Gray Scale

*/
/* Basscss Base Typography */
body {
  font-family: "Fourteen-oh-three Vintage Mono", "Source Code Pro", Consolas, "Helvetica Neue", Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif, monospace;
  line-height: 1.5;
  font-size: 100%; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Fourteen-oh-three Vintage Mono", "Source Code Pro", Consolas, "Helvetica Neue", Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif, monospace;  
  font-weight: normal;
  line-height: 1.2;
  margin-top: 1em;
  margin-bottom: 0.5em; }

p {
  margin-top: 0;
  margin-bottom: 1.1rem; }

dl, ol, ul {
  margin-top: 0;
  margin-bottom: 1.1rem; }

pre, code, samp {
  font-family: "Fourteen-oh-three Vintage Mono", "Source Code Pro", Consolas, "Helvetica Neue", Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif, monospace;
  font-size: inherit; }

pre {
  margin-top: 0;
  margin-bottom: 1.1rem;
  overflow-x: scroll; }

h1 {
  font-size: 4rem; }

h2 {
  font-size: 3rem; }

h3 {
  font-size: 2rem; }

h4 {
  font-size: 1.65rem; }

h5 {
  font-size: 1.1rem; }

h6 {
  font-size: 0.875rem; }

/* Basscss Defaults */
/*

   COLOR VARIABLES

   - Cool
   - Warm
   - Gray Scale

*/
/* Basscss Color Base */
body {
  color: #131d2c;
  background-color: #fff; }

a {
  color: #3067bc;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

pre, code {
  background-color: transparent;
  border-radius: 3px; }

hr {
  border: 0;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgba(0, 0, 0, 0.125); }

/* Basscss Defaults */
/*

   COLOR VARIABLES

   - Cool
   - Warm
   - Gray Scale

*/
/* Basscss Color Forms */
.field {
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.125);
  border-radius: 3px; }

.field:focus,
.field.is-focused {
  outline: none;
  border-color: #3067bc;
  box-shadow: 0 0 0 2px color(#3067bc a(0.5)); }

.field:disabled,
.field.is-disabled {
  background-color: rgba(0, 0, 0, 0.125);
  opacity: .5; }

.field:read-only:not(select),
.field.is-read-only {
  background-color: rgba(0, 0, 0, 0.125); }

.field.is-success {
  border-color: #8DAF91; }

.field.is-success:focus,
.field.is-success.is-focused {
  box-shadow: 0 0 0 2px color(#8DAF91 a(0.5)); }

.field.is-warning {
  border-color: #fffc99; }

.field.is-warning:focus,
.field.is-warning.is-focused {
  box-shadow: 0 0 0 2px color(#fffc99 a(0.5)); }

.field:invalid,
.field.is-error {
  border-color: #ff4136; }

.field:invalid:focus,
.field:invalid.is-focused,
.field.is-error:focus,
.field.is-error.is-focused {
  box-shadow: 0 0 0 2px color(#ff4136 a(0.5)); }

/* Basscss Defaults */
/*

   COLOR VARIABLES

   - Cool
   - Warm
   - Gray Scale

*/
/* Fallback value:  bold */
.btn {
  font-family: inherit;
  font-size: inherit;
  font-weight: normal;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  line-height: 1.125rem;
  padding: 0.5rem 1rem;
  margin: 0;
  height: auto;
  border: 1px solid transparent;
  vertical-align: middle;
  -webkit-appearance: none;
  color: inherit;
  background-color: transparent; }

.btn:hover {
  text-decoration: none; }

.btn:focus {
  outline: none;
  border-color: rgba(0, 0, 0, 0.125);
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.25); }

::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* Basscss Btn Primary */
.btn-primary {
  color: #fff;
  background-color: #3067bc;
  border-radius: 3px; }

.btn-primary:hover {
  box-shadow: inset 0 0 0 20rem rgba(0, 0, 0, 0.0625); }

.btn-primary:active {
  box-shadow: inset 0 0 0 20rem rgba(0, 0, 0, 0.125), inset 0 3px 4px 0 rgba(0, 0, 0, 0.25), 0 0 1px rgba(0, 0, 0, 0.125); }

.btn-primary:disabled,
.btn-primary.is-disabled {
  opacity: .5; }

/* Basscss Defaults */
/*

   COLOR VARIABLES

   - Cool
   - Warm
   - Gray Scale

*/
/* Basscss Type Scale */
.h1 {
  font-size: 4rem; }

.h2 {
  font-size: 3rem; }

.h3 {
  font-size: 2rem; }

.h4 {
  font-size: 1.65rem; }

.h5 {
  font-size: 1.1rem; }

.h6 {
  font-size: 0.875rem; }

/* Basscss Defaults */
/*

   COLOR VARIABLES

   - Cool
   - Warm
   - Gray Scale

*/
/* Basscss Utility Typography */
.bold {
  font-weight: normal; }

.regular {
  font-weight: normal; }

.italic {
  font-style: italic; }

.caps {
  text-transform: uppercase;
  letter-spacing: .2em; }

.left-align {
  text-align: left; }

.center {
  text-align: center; }

.right-align {
  text-align: right; }

.justify {
  text-align: justify; }

.nowrap {
  white-space: nowrap; }

.break-word {
  word-wrap: break-word; }

.truncate {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.list-reset {
  list-style: none;
  padding-left: 0; }

/* Basscss Utility Layout */
.inline {
  display: inline; }

.block {
  display: block; }

.inline-block {
  display: inline-block; }

.table {
  display: table; }

.table-cell {
  display: table-cell; }

.overflow-hidden {
  overflow: hidden; }

.overflow-scroll {
  overflow: scroll; }

.overflow-auto {
  overflow: auto; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.left {
  float: left; }

.right {
  float: right; }

.fit {
  max-width: 100%; }

.border-box {
  box-sizing: border-box; }

/* Basscss Align */
.align-baseline {
  vertical-align: baseline; }

.align-top {
  vertical-align: top; }

.align-middle {
  vertical-align: middle; }

.align-bottom {
  vertical-align: bottom; }

/* Basscss Utility White Space */
.m0 {
  margin: 0; }

.mt0 {
  margin-top: 0; }

.mr0 {
  margin-right: 0; }

.mb0 {
  margin-bottom: 0; }

.ml0 {
  margin-left: 0; }

.m1 {
  margin: 0.55rem; }

.mt1 {
  margin-top: 0.55rem; }

.mr1 {
  margin-right: 0.55rem; }

.mb1 {
  margin-bottom: 0.55rem; }

.ml1 {
  margin-left: 0.55rem; }

.m2 {
  margin: 1.1rem; }

.mt2 {
  margin-top: 1.1rem; }

.mr2 {
  margin-right: 1.1rem; }

.mb2 {
  margin-bottom: 1.1rem; }

.ml2 {
  margin-left: 1.1rem; }

.m3 {
  margin: 2.2rem; }

.mt3 {
  margin-top: 2.2rem; }

.mr3 {
  margin-right: 2.2rem; }

.mb3 {
  margin-bottom: 2.2rem; }

.ml3 {
  margin-left: 2.2rem; }

.m4 {
  margin: 4rem; }

.mt4 {
  margin-top: 4rem; }

.mr4 {
  margin-right: 4rem; }

.mb4 {
  margin-bottom: 4rem; }

.ml4 {
  margin-left: 4rem; }

.mxn1 {
  margin-left: -0.55rem;
  margin-right: -0.55rem; }

.mxn2 {
  margin-left: -1.1rem;
  margin-right: -1.1rem; }

.mxn3 {
  margin-left: -2.2rem;
  margin-right: -2.2rem; }

.mxn4 {
  margin-left: -4rem;
  margin-right: -4rem; }

.mx-auto {
  margin-left: auto;
  margin-right: auto; }

.p0 {
  padding: 0; }

.p1 {
  padding: 0.55rem; }

.py1 {
  padding-top: 0.55rem;
  padding-bottom: 0.55rem; }

.px1 {
  padding-left: 0.55rem;
  padding-right: 0.55rem; }

.p2 {
  padding: 1.1rem; }

.py2 {
  padding-top: 1.1rem;
  padding-bottom: 1.1rem; }

.px2 {
  padding-left: 1.1rem;
  padding-right: 1.1rem; }

.p3 {
  padding: 2.2rem; }

.py3 {
  padding-top: 2.2rem;
  padding-bottom: 2.2rem; }

.px3 {
  padding-left: 2.2rem;
  padding-right: 2.2rem; }

.p4 {
  padding: 4rem; }

.py4 {
  padding-top: 4rem;
  padding-bottom: 4rem; }

.px4 {
  padding-left: 4rem;
  padding-right: 4rem; }

/* Basscss Defaults */
/*

   COLOR VARIABLES

   - Cool
   - Warm
   - Gray Scale

*/
/* Basscss Positions */
.relative {
  position: relative; }

.absolute {
  position: absolute; }

.fixed {
  position: fixed; }

.top-0 {
  top: 0; }

.right-0 {
  right: 0; }

.bottom-0 {
  bottom: 0; }

.left-0 {
  left: 0; }

.z1 {
  z-index: 1; }

.z2 {
  z-index: 2; }

.z3 {
  z-index: 3; }

.z4 {
  z-index: 4; }

/* Basscss Utility Responsive States */
.sm-show, .md-show, .lg-show {
  display: none !important; }

@media (min-width: 35em) {
  .sm-show {
    display: block !important; } }

@media (min-width: 51em) {
  .md-show {
    display: block !important; } }

@media (min-width: 75em) {
  .lg-show {
    display: block !important; } }

@media (min-width: 35em) {
  .sm-hide {
    display: none !important; } }

@media (min-width: 51em) {
  .md-hide {
    display: none !important; } }

@media (min-width: 75em) {
  .lg-hide {
    display: none !important; } }

.display-none {
  display: none !important; }

.hide {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px); }

/* Basscss Defaults */
/*

   COLOR VARIABLES

   - Cool
   - Warm
   - Gray Scale

*/
/* Basscss Grid */
.container {
  max-width: 64em;
  margin-left: auto;
  margin-right: auto; }

.col {
  float: left;
  box-sizing: border-box; }

.col-right {
  float: right;
  box-sizing: border-box; }

.col-1 {
  width: 8.33333%; }

.col-2 {
  width: 16.66667%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33333%; }

.col-5 {
  width: 41.66667%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33333%; }

.col-8 {
  width: 66.66667%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33333%; }

.col-11 {
  width: 91.66667%; }

.col-12 {
  width: 100%; }

@media (min-width: 35em) {
  .sm-col {
    float: left;
    box-sizing: border-box; }
  .sm-col-right {
    float: right;
    box-sizing: border-box; }
  .sm-col-1 {
    width: 8.33333%; }
  .sm-col-2 {
    width: 16.66667%; }
  .sm-col-3 {
    width: 25%; }
  .sm-col-4 {
    width: 33.33333%; }
  .sm-col-5 {
    width: 41.66667%; }
  .sm-col-6 {
    width: 50%; }
  .sm-col-7 {
    width: 58.33333%; }
  .sm-col-8 {
    width: 66.66667%; }
  .sm-col-9 {
    width: 75%; }
  .sm-col-10 {
    width: 83.33333%; }
  .sm-col-11 {
    width: 91.66667%; }
  .sm-col-12 {
    width: 100%; } }

@media (min-width: 51em) {
  .md-col {
    float: left;
    box-sizing: border-box; }
  .md-col-right {
    float: right;
    box-sizing: border-box; }
  .md-col-1 {
    width: 8.33333%; }
  .md-col-2 {
    width: 16.66667%; }
  .md-col-3 {
    width: 25%; }
  .md-col-4 {
    width: 33.33333%; }
  .md-col-5 {
    width: 41.66667%; }
  .md-col-6 {
    width: 50%; }
  .md-col-7 {
    width: 58.33333%; }
  .md-col-8 {
    width: 66.66667%; }
  .md-col-9 {
    width: 75%; }
  .md-col-10 {
    width: 83.33333%; }
  .md-col-11 {
    width: 91.66667%; }
  .md-col-12 {
    width: 100%; } }

@media (min-width: 75em) {
  .lg-col {
    float: left;
    box-sizing: border-box; }
  .lg-col-right {
    float: right;
    box-sizing: border-box; }
  .lg-col-1 {
    width: 8.33333%; }
  .lg-col-2 {
    width: 16.66667%; }
  .lg-col-3 {
    width: 25%; }
  .lg-col-4 {
    width: 33.33333%; }
  .lg-col-5 {
    width: 41.66667%; }
  .lg-col-6 {
    width: 50%; }
  .lg-col-7 {
    width: 58.33333%; }
  .lg-col-8 {
    width: 66.66667%; }
  .lg-col-9 {
    width: 75%; }
  .lg-col-10 {
    width: 83.33333%; }
  .lg-col-11 {
    width: 91.66667%; }
  .lg-col-12 {
    width: 100%; } }

/* Basscss Defaults */
/*

   COLOR VARIABLES

   - Cool
   - Warm
   - Gray Scale

*/
/* Flex Object */
.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.flex-wrap {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.flex-center {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.flex-baseline {
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline; }

.flex-stretch {
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch; }

.flex-start {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start; }

.flex-end {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end; }

.flex-justify {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

/*
 * 1. Fix for Chrome 44 bug. https://code.google.com/p/chromium/issues/detail?id=506893
 */
.flex-auto {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-width: 0;
  /* 1 */
  min-height: 0;
  /* 1 */ }

.flex-grow {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto; }

.flex-none {
  -webkit-box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none; }

.flex-first {
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1; }

.flex-last {
  -webkit-box-ordinal-group: 100000;
  -webkit-order: 99999;
  -ms-flex-order: 99999;
  order: 99999; }

@media (min-width: 35em) {
  .sm-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; } }

@media (min-width: 51em) {
  .md-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; } }

@media (min-width: 75em) {
  .lg-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; } }

/* Basscss Defaults */
/*

   COLOR VARIABLES

   - Cool
   - Warm
   - Gray Scale

*/
/* Basscss Color Borders */
.border {
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.125); }

.border-top {
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: rgba(0, 0, 0, 0.125); }

.border-right {
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: rgba(0, 0, 0, 0.125); }

.border-bottom {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgba(0, 0, 0, 0.125); }

.border-left {
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: rgba(0, 0, 0, 0.125); }

.border-none {
  border: 0; }

.rounded {
  border-radius: 3px; }

.circle {
  border-radius: 50%; }

.rounded-top {
  border-radius: 3px 3px 0 0; }

.rounded-right {
  border-radius: 0 3px 3px 0; }

.rounded-bottom {
  border-radius: 0 0 3px 3px; }

.rounded-left {
  border-radius: 3px 0 0 3px; }

.not-rounded {
  border-radius: 0; }

/* Basscss Defaults */
/*

   COLOR VARIABLES

   - Cool
   - Warm
   - Gray Scale

*/
/* Basscss Colors */
.black {
  color: #131d2c; }

.gray {
  color: #aaa; }

.silver {
  color: #e1f7f7; }

.white {
  color: #fff; }

.aqua {
  color: #7fdbff; }

.blue {
  color: #3067bc; }

.navy {
  color: #18345F; }

.teal {
  color: #52C5BF; }

.green {
  color: #8DAF91; }

.olive {
  color: #55773f; }

.lime {
  color: #01ff70; }

.yellow {
  color: #fffc99; }

.orange {
  color: #F5BE6D; }

.red {
  color: #ff4136; }

.fuchsia {
  color: #f012be; }

.purple {
  color: #727394; }

.maroon {
  color: #85144b; }

.color-inherit {
  color: inherit; }

.muted {
  opacity: .5; }

/* Basscss Defaults */
/*

   COLOR VARIABLES

   - Cool
   - Warm
   - Gray Scale

*/
/* Basscss Background Colors */
.bg-black {
  background-color: #131d2c; }

.bg-gray {
  background-color: #aaa; }

.bg-silver {
  background-color: #e1f7f7; }

.bg-white {
  background-color: #fff; }

.bg-aqua {
  background-color: #7fdbff; }

.bg-blue {
  background-color: #3067bc; }

.bg-navy {
  background-color: #18345F; }

.bg-teal {
  background-color: #52C5BF; }

.bg-green {
  background-color: #8DAF91; }

.bg-olive {
  background-color: #55773f; }

.bg-lime {
  background-color: #01ff70; }

.bg-yellow {
  background-color: #fffc99; }

.bg-orange {
  background-color: #F5BE6D; }

.bg-red {
  background-color: #ff4136; }

.bg-fuchsia {
  background-color: #f012be; }

.bg-purple {
  background-color: #727394; }

.bg-maroon {
  background-color: #85144b; }

.bg-darken-1 {
  background-color: rgba(0, 0, 0, 0.0625); }

.bg-darken-2 {
  background-color: rgba(0, 0, 0, 0.125); }

.bg-darken-3 {
  background-color: rgba(0, 0, 0, 0.25); }

.bg-darken-4 {
  background-color: rgba(0, 0, 0, 0.5); }

.bg-lighten-1 {
  background-color: rgba(255, 255, 255, 0.0625); }

.bg-lighten-2 {
  background-color: rgba(255, 255, 255, 0.125); }

.bg-lighten-3 {
  background-color: rgba(255, 255, 255, 0.25); }

.bg-lighten-4 {
  background-color: rgba(255, 255, 255, 0.5); }

/* Basscss Defaults */
/*

   COLOR VARIABLES

   - Cool
   - Warm
   - Gray Scale

*/
/* Basscss Background Images */
.bg-cover {
  background-size: cover; }

.bg-contain {
  background-size: contain; }

.bg-center {
  background-position: center; }

.bg-top {
  background-position: top; }

.bg-right {
  background-position: right; }

.bg-bottom {
  background-position: bottom; }

.bg-left {
  background-position: left; }

/* Basscss UI Utility Button Sizes */
.btn-small {
  padding: 0.25rem 0.5rem; }

.btn-big {
  padding: 1rem 1.25rem; }

.btn-narrow {
  padding-left: 0.55rem;
  padding-right: 0.55rem; }

/* Basscss Defaults */
/*

   COLOR VARIABLES

   - Cool
   - Warm
   - Gray Scale

*/
/* Basscss Color Forms Dark */
.field-dark {
  color: white;
  background-color: rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(0, 0, 0, 0.0625);
  border-radius: 3px; }

.field-dark::-webkit-input-placeholder {
  color: #FFFFFF;
  color: rgba(255, 255, 255, 0.75); }

.field-dark::-moz-placeholder {
  color: #FFFFFF;
  color: rgba(255, 255, 255, 0.75); }

.field-dark:-ms-input-placeholder {
  color: #FFFFFF;
  color: rgba(255, 255, 255, 0.75); }

.field-dark::placeholder {
  color: #FFFFFF;
  color: rgba(255, 255, 255, 0.75); }

.field-dark:focus {
  outline: 0;
  border: 1px solid #FFFFFF;
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.25); }

.field-dark:read-only:not(select) {
  background-color: #FFFFFF;
  background-color: rgba(255, 255, 255, 0.25); }

.field-dark.is-success {
  border-color: #8DAF91; }

.field-dark.is-success:focus {
  box-shadow: 0 0 0 2px color(#8DAF91 a(0.5)); }

.field-dark.is-warning {
  border-color: #fffc99; }

.field-dark.is-warning:focus {
  box-shadow: 0 0 0 2px color(#fffc99 a(0.5)); }

.field-dark:invalid,
.field-dark.is-error {
  border-color: #ff4136; }

.field-dark.is-error:focus {
  box-shadow: 0 0 0 2px color(#ff4136 a(0.5)); }

/* Basscss Defaults */
/*

   COLOR VARIABLES

   - Cool
   - Warm
   - Gray Scale

*/
/* Basscss Highlight */
/*

   COLOR VARIABLES

   - Cool
   - Warm
   - Gray Scale

*/
.hljs {
  -webkit-text-size-adjust: none; }

.hljs-comment,
.diff .hljs-header,
.hljs-javadoc {
  color: #aaa;
  font-style: italic; }

.hljs-keyword,
.css .rule .hljs-keyword,
.hljs-winutils,
.nginx .hljs-title,
.hljs-subst,
.hljs-request,
.hljs-status {
  color: #131d2c;
  font-weight: bold; }

.hljs-number,
.hljs-hexcolor,
.ruby .hljs-constant {
  color: #55773f; }

.hljs-string,
.hljs-tag .hljs-value,
.hljs-phpdoc,
.hljs-dartdoc,
.tex .hljs-formula {
  color: #ff4136; }

.hljs-title,
.hljs-id,
.scss .hljs-preprocessor {
  color: #ff4136;
  font-weight: bold; }

.hljs-list .hljs-keyword,
.hljs-subst {
  font-weight: normal; }

.hljs-class .hljs-title,
.hljs-type,
.vhdl .hljs-literal,
.tex .hljs-command {
  color: #18345F;
  font-weight: bold; }

.hljs-tag,
.hljs-tag .hljs-title,
.hljs-rules .hljs-property,
.django .hljs-tag .hljs-keyword {
  color: #18345F;
  font-weight: normal; }

.hljs-attribute,
.hljs-variable,
.lisp .hljs-body {
  color: #55773f; }

.hljs-regexp {
  color: #55773f; }

.hljs-symbol,
.ruby .hljs-symbol .hljs-string,
.lisp .hljs-keyword,
.clojure .hljs-keyword,
.scheme .hljs-keyword,
.tex .hljs-special,
.hljs-prompt {
  color: #727394; }

.hljs-built_in {
  color: #18345F; }

.hljs-preprocessor,
.hljs-pragma,
.hljs-pi,
.hljs-doctype,
.hljs-shebang,
.hljs-cdata {
  color: #aaa;
  font-weight: bold; }

.hljs-deletion {
  background: #f012be; }

.hljs-addition {
  background: #01ff70; }

.diff .hljs-change {
  background: #18345F; }

.hljs-chunk {
  color: #e1f7f7; }

/* Basscss Responsive White Space */
@media (min-width: 35em) {
  .sm-m0 {
    margin: 0; }
  .sm-mt0 {
    margin-top: 0; }
  .sm-mr0 {
    margin-right: 0; }
  .sm-mb0 {
    margin-bottom: 0; }
  .sm-ml0 {
    margin-left: 0; }
  .sm-m1 {
    margin: 0.55rem; }
  .sm-mt1 {
    margin-top: 0.55rem; }
  .sm-mr1 {
    margin-right: 0.55rem; }
  .sm-mb1 {
    margin-bottom: 0.55rem; }
  .sm-ml1 {
    margin-left: 0.55rem; }
  .sm-m2 {
    margin: 1.1rem; }
  .sm-mt2 {
    margin-top: 1.1rem; }
  .sm-mr2 {
    margin-right: 1.1rem; }
  .sm-mb2 {
    margin-bottom: 1.1rem; }
  .sm-ml2 {
    margin-left: 1.1rem; }
  .sm-m3 {
    margin: 2.2rem; }
  .sm-mt3 {
    margin-top: 2.2rem; }
  .sm-mr3 {
    margin-right: 2.2rem; }
  .sm-mb3 {
    margin-bottom: 2.2rem; }
  .sm-ml3 {
    margin-left: 2.2rem; }
  .sm-m4 {
    margin: 4rem; }
  .sm-mt4 {
    margin-top: 4rem; }
  .sm-mr4 {
    margin-right: 4rem; }
  .sm-mb4 {
    margin-bottom: 4rem; }
  .sm-ml4 {
    margin-left: 4rem; }
  .sm-mxn1 {
    margin-left: -0.55rem;
    margin-right: -0.55rem; }
  .sm-mxn2 {
    margin-left: -1.1rem;
    margin-right: -1.1rem; }
  .sm-mxn3 {
    margin-left: -2.2rem;
    margin-right: -2.2rem; }
  .sm-mxn4 {
    margin-left: -4rem;
    margin-right: -4rem; }
  .sm-mx-auto {
    margin-left: auto;
    margin-right: auto; } }

@media (min-width: 51em) {
  .md-m0 {
    margin: 0; }
  .md-mt0 {
    margin-top: 0; }
  .md-mr0 {
    margin-right: 0; }
  .md-mb0 {
    margin-bottom: 0; }
  .md-ml0 {
    margin-left: 0; }
  .md-m1 {
    margin: 0.55rem; }
  .md-mt1 {
    margin-top: 0.55rem; }
  .md-mr1 {
    margin-right: 0.55rem; }
  .md-mb1 {
    margin-bottom: 0.55rem; }
  .md-ml1 {
    margin-left: 0.55rem; }
  .md-m2 {
    margin: 1.1rem; }
  .md-mt2 {
    margin-top: 1.1rem; }
  .md-mr2 {
    margin-right: 1.1rem; }
  .md-mb2 {
    margin-bottom: 1.1rem; }
  .md-ml2 {
    margin-left: 1.1rem; }
  .md-m3 {
    margin: 2.2rem; }
  .md-mt3 {
    margin-top: 2.2rem; }
  .md-mr3 {
    margin-right: 2.2rem; }
  .md-mb3 {
    margin-bottom: 2.2rem; }
  .md-ml3 {
    margin-left: 2.2rem; }
  .md-m4 {
    margin: 4rem; }
  .md-mt4 {
    margin-top: 4rem; }
  .md-mr4 {
    margin-right: 4rem; }
  .md-mb4 {
    margin-bottom: 4rem; }
  .md-ml4 {
    margin-left: 4rem; }
  .md-mxn1 {
    margin-left: -0.55rem;
    margin-right: -0.55rem; }
  .md-mxn2 {
    margin-left: -1.1rem;
    margin-right: -1.1rem; }
  .md-mxn3 {
    margin-left: -2.2rem;
    margin-right: -2.2rem; }
  .md-mxn4 {
    margin-left: -4rem;
    margin-right: -4rem; }
  .md-mx-auto {
    margin-left: auto;
    margin-right: auto; } }

@media (min-width: 75em) {
  .lg-m0 {
    margin: 0; }
  .lg-mt0 {
    margin-top: 0; }
  .lg-mr0 {
    margin-right: 0; }
  .lg-mb0 {
    margin-bottom: 0; }
  .lg-ml0 {
    margin-left: 0; }
  .lg-m1 {
    margin: 0.55rem; }
  .lg-mt1 {
    margin-top: 0.55rem; }
  .lg-mr1 {
    margin-right: 0.55rem; }
  .lg-mb1 {
    margin-bottom: 0.55rem; }
  .lg-ml1 {
    margin-left: 0.55rem; }
  .lg-m2 {
    margin: 1.1rem; }
  .lg-mt2 {
    margin-top: 1.1rem; }
  .lg-mr2 {
    margin-right: 1.1rem; }
  .lg-mb2 {
    margin-bottom: 1.1rem; }
  .lg-ml2 {
    margin-left: 1.1rem; }
  .lg-m3 {
    margin: 2.2rem; }
  .lg-mt3 {
    margin-top: 2.2rem; }
  .lg-mr3 {
    margin-right: 2.2rem; }
  .lg-mb3 {
    margin-bottom: 2.2rem; }
  .lg-ml3 {
    margin-left: 2.2rem; }
  .lg-m4 {
    margin: 4rem; }
  .lg-mt4 {
    margin-top: 4rem; }
  .lg-mr4 {
    margin-right: 4rem; }
  .lg-mb4 {
    margin-bottom: 4rem; }
  .lg-ml4 {
    margin-left: 4rem; }
  .lg-mxn1 {
    margin-left: -0.55rem;
    margin-right: -0.55rem; }
  .lg-mxn2 {
    margin-left: -1.1rem;
    margin-right: -1.1rem; }
  .lg-mxn3 {
    margin-left: -2.2rem;
    margin-right: -2.2rem; }
  .lg-mxn4 {
    margin-left: -4rem;
    margin-right: -4rem; }
  .lg-mx-auto {
    margin-left: auto;
    margin-right: auto; } }

@media (min-width: 35em) {
  .sm-p1 {
    padding: 0.55rem; }
  .sm-py1 {
    padding-top: 0.55rem;
    padding-bottom: 0.55rem; }
  .sm-px1 {
    padding-left: 0.55rem;
    padding-right: 0.55rem; }
  .sm-p2 {
    padding: 1.1rem; }
  .sm-py2 {
    padding-top: 1.1rem;
    padding-bottom: 1.1rem; }
  .sm-px2 {
    padding-left: 1.1rem;
    padding-right: 1.1rem; }
  .sm-p3 {
    padding: 2.2rem; }
  .sm-py3 {
    padding-top: 2.2rem;
    padding-bottom: 2.2rem; }
  .sm-px3 {
    padding-left: 2.2rem;
    padding-right: 2.2rem; }
  .sm-p4 {
    padding: 4rem; }
  .sm-py4 {
    padding-top: 4rem;
    padding-bottom: 4rem; }
  .sm-px4 {
    padding-left: 4rem;
    padding-right: 4rem; } }

@media (min-width: 51em) {
  .md-p1 {
    padding: 0.55rem; }
  .md-py1 {
    padding-top: 0.55rem;
    padding-bottom: 0.55rem; }
  .md-px1 {
    padding-left: 0.55rem;
    padding-right: 0.55rem; }
  .md-p2 {
    padding: 1.1rem; }
  .md-py2 {
    padding-top: 1.1rem;
    padding-bottom: 1.1rem; }
  .md-px2 {
    padding-left: 1.1rem;
    padding-right: 1.1rem; }
  .md-p3 {
    padding: 2.2rem; }
  .md-py3 {
    padding-top: 2.2rem;
    padding-bottom: 2.2rem; }
  .md-px3 {
    padding-left: 2.2rem;
    padding-right: 2.2rem; }
  .md-p4 {
    padding: 4rem; }
  .md-py4 {
    padding-top: 4rem;
    padding-bottom: 4rem; }
  .md-px4 {
    padding-left: 4rem;
    padding-right: 4rem; } }

@media (min-width: 75em) {
  .lg-p1 {
    padding: 0.55rem; }
  .lg-py1 {
    padding-top: 0.55rem;
    padding-bottom: 0.55rem; }
  .lg-px1 {
    padding-left: 0.55rem;
    padding-right: 0.55rem; }
  .lg-p2 {
    padding: 1.1rem; }
  .lg-py2 {
    padding-top: 1.1rem;
    padding-bottom: 1.1rem; }
  .lg-px2 {
    padding-left: 1.1rem;
    padding-right: 1.1rem; }
  .lg-p3 {
    padding: 2.2rem; }
  .lg-py3 {
    padding-top: 2.2rem;
    padding-bottom: 2.2rem; }
  .lg-px3 {
    padding-left: 2.2rem;
    padding-right: 2.2rem; }
  .lg-p4 {
    padding: 4rem; }
  .lg-py4 {
    padding-top: 4rem;
    padding-bottom: 4rem; }
  .lg-px4 {
    padding-left: 4rem;
    padding-right: 4rem; } }

/* Basscss UI Utility Groups */
.x-group-item {
  margin-left: -1px; }

.x-group-item:first-of-type {
  margin-left: 0; }

.y-group-item {
  margin-top: -1px; }

.y-group-item:first-of-type {
  margin-top: 0; }

.x-group-item:focus,
.y-group-item:focus {
  position: relative;
  z-index: 1; }

/* Basscss Border Colors */
.border-black {
  border-color: #131d2c; }

.border-gray {
  border-color: #aaa; }

.border-silver {
  border-color: #e1f7f7; }

.border-white {
  border-color: #fff; }

.border-aqua {
  border-color: #7fdbff; }

.border-blue {
  border-color: #3067bc; }

.border-navy {
  border-color: #18345F; }

.border-teal {
  border-color: #52C5BF; }

.border-green {
  border-color: #8DAF91; }

.border-olive {
  border-color: #55773f; }

.border-lime {
  border-color: #01ff70; }

.border-yellow {
  border-color: #fffc99; }

.border-orange {
  border-color: #F5BE6D; }

.border-red {
  border-color: #ff4136; }

.border-fuchsia {
  border-color: #f012be; }

.border-purple {
  border-color: #727394; }

.border-maroon {
  border-color: #85144b; }

.border-darken-1 {
  border-color: rgba(0, 0, 0, 0.0625); }

.border-darken-2 {
  border-color: rgba(0, 0, 0, 0.125); }

.border-darken-3 {
  border-color: rgba(0, 0, 0, 0.25); }

.border-darken-4 {
  border-color: rgba(0, 0, 0, 0.5); }

.border-lighten-1 {
  border-color: rgba(255, 255, 255, 0.0625); }

.border-lighten-2 {
  border-color: rgba(255, 255, 255, 0.125); }

.border-lighten-3 {
  border-color: rgba(255, 255, 255, 0.25); }

.border-lighten-4 {
  border-color: rgba(255, 255, 255, 0.5); }

/* Basscss Defaults */
/*

   COLOR VARIABLES

   - Cool
   - Warm
   - Gray Scale

*/
* {
  box-sizing: border-box;
  font-synthesis: none; }

html {
  height: 100%;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highloght-color: transparent; }

::-moz-selection {
  background-color: #52C5BF;
  color: #fff;
  text-shadow: 0 0 0 transparent; }

::selection {
  background-color: #52C5BF;
  color: #fff;
  text-shadow: 0 0 0 transparent; }

body {
  font-size: 1.1rem;
  font-feature-settings: "kern" 0, "liga" 1, "calt" 1, "onum" 1, "smcp" 0, "zero" 0; }

.container-wide {
  max-width: 96em;
  margin-left: auto;
  margin-right: auto; }

a,
a:visited,
a:hover,
a:focus,
a:active {
  color: inherit;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  text-decoration: none;
  transition: border 0.25s ease-in-out, opacity 0.25s ease-in-out; }

a:focus,
a:hover,
a:active {
  color: inherit;
  opacity: 0.5; }

h1, h2, h3, h4, h5, h6 {
  font-feature-settings: "kern" 0, "liga" 1, "calt", "onum" 1, "smcp" 0, "zero" 1;
  hyphens: manual; }

dl, ol, ul {
  padding-left: 0; }

i, em, cite, blockquote {
  font-style: normal; }

td {
  vertical-align: top;
  padding-top: 0.55rem;
  padding-bottom: 0.55rem; }

[contenteditable] {
  outline-color: transparent;
  outline: none;
  word-wrap: break-word;
  -webkit-user-modify: read-write-plaintext-only;
  -moz-user-modify: read-write-plaintext-only;
  -ms-user-modify: read-write-plaintext-only;
  user-modify: read-write-plaintext-only; }
  [contenteditable]:focus, [contenteditable]:hover, [contenteditable]:active {
    outline: none;
    box-shadow: none; }
  [contenteditable] b, [contenteditable] strong, [contenteditable] i, [contenteditable] em, [contenteditable] dfn, [contenteditable] small, [contenteditable] code, [contenteditable] a {
    display: inline;
    font-size: inherit;
    font-weight: inherit;
    font-style: inherit;
    line-height: inherit;
    text-decoration: inherit;
    color: inherit !important;
    background: transparent !important; }
  [contenteditable] img {
    display: none;
    visibility: hidden; }
  [contenteditable] figure img {
    display: block;
    visibility: visible; }

.plaintext {
  -webkit-user-modify: read-write-plaintext-only;
  -moz-user-modify: read-write-plaintext-only;
  -ms-user-modify: read-write-plaintext-only;
  user-modify: read-write-plaintext-only; }

img,
svg {
  display: block; }

b, strong, i, em, dfn,
.btn {
  font-weight: normal;
  font-style: normal; }

figure {
  margin: 0; }
  figure img {
    width: 100%; }

blockquote {
  margin-left: 0;
  margin-right: 0; }

p {
  margin-bottom: 1.5rem; }

.pre {
  white-space: pre-wrap;
  word-break: break-all;
  overflow-x: auto; }

.break-word {
  word-wrap: break-word; }

.indent * + * {
  text-indent: 2.2rem; }

.indent p {
  margin-bottom: 0; }

[data-before]:before {
  content: attr(data-before);
  display: inline-block; }

.ds,
.ds2 {
  box-shadow: 0 0 1.1rem rgba(0, 0, 0, 0.125); }

.ds1 {
  box-shadow: 0 0 0.55rem rgba(0, 0, 0, 0.05); }

.ts {
  text-shadow: 0 -1px 1px rgba(255, 255, 255, 0.33), 0 -2px 2px rgba(255, 255, 255, 0.1); }

.field:invalid[value=""][required] {
  border-color: rgba(0, 0, 0, 0.125); }
  .field:invalid[value=""][required]:active, .field:invalid[value=""][required]:focus {
    color: inherit; }

input[type=text],
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=time],
input[type=url],
input[type=week] {
  height: auto; }

.speak-none,
[aria-hidden="true"] {
  speak: none; }

.hidden {
  display: none;
  visibility: hidden;
  speak: none; }

.embed {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%; }
  .embed [src] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .embed figcaption {
    margin-top: 56.25%;
    z-index: 10;
    position: absolute; }

.rtl {
  direction: rtl; }

.ltr {
  direction: ltr; }

@media (min-width: 51em) {
  .md-nobreak {
    display: inline-block; } }

.uppercase {
  text-transform: uppercase; }

.caps {
  letter-spacing: 0; }

.select-none {
  user-select: none; }

@media (min-width: 35em) {
  .sm-h1 {
    font-size: 4rem; }
  .sm-h2 {
    font-size: 3rem; }
  .sm-h3 {
    font-size: 2rem; }
  .sm-h4 {
    font-size: 1.65rem; }
  .sm-h5 {
    font-size: 1.1rem; }
  .sm-h6 {
    font-size: 0.875rem; } }

@media (min-width: 51em) {
  .md-h1 {
    font-size: 4rem; }
  .md-h2 {
    font-size: 3rem; }
  .md-h3 {
    font-size: 2rem; }
  .md-h4 {
    font-size: 1.65rem; }
  .md-h5 {
    font-size: 1.1rem; }
  .md-h6 {
    font-size: 0.875rem; } }

@media (min-width: 75em) {
  .lg-h1 {
    font-size: 4rem; }
  .lg-h2 {
    font-size: 3rem; }
  .lg-h3 {
    font-size: 2rem; }
  .lg-h4 {
    font-size: 1.65rem; }
  .lg-h5 {
    font-size: 1.1rem; }
  .lg-h6 {
    font-size: 0.875rem; } }

/* Basscss Utility Headings */
.h00 {
  font-size: 4rem; }

.h0 {
  font-size: 3rem; }

@media (min-width: 51em) {
  .h00-responsive {
    font-size: 8vw; }
  .h0-responsive {
    font-size: 6vw; }
  .h1-responsive {
    font-size: 4vw; } }

@media (min-width: 96em) {
  .h00-responsive {
    font-size: 7.68rem; }
  .h0-responsive {
    font-size: 5.76rem; }
  .h1-responsive {
    font-size: 3.84rem; } }

.bg-fadeout-gradient {
  background: transparent;
  background: linear-gradient(to bottom, rgba(19, 29, 44, 0) 0%, #131d2c 100%); }

.bg-navy-gradient {
  background-color: #131d2c;
  background-image: linear-gradient(to bottom, #13294b 0%, #131d2c 100%); }

.thread-1,
.thread-2,
.thread-3 {
  column-gap: 1.1rem;
  column-fill: balance; }

.thread-1 {
  columns: 1 64em; }

.thread-2 {
  columns: 2 21.33333em; }

.thread-3 {
  columns: 3 16em; }

@media (min-width: 35em) {
  .sm-thread-1,
  .sm-thread-2,
  .sm-thread-3 {
    column-gap: 1.1rem;
    column-fill: balance; }
  .sm-thread-1 {
    columns: 1 64em; }
  .sm-thread-2 {
    columns: 2 21.33333em; }
  .sm-thread-3 {
    columns: 3 16em; } }

@media (min-width: 51em) {
  .md-thread-1,
  .md-thread-2,
  .md-thread-3 {
    column-gap: 1.1rem;
    column-fill: balance; }
  .md-thread-1 {
    columns: 1 64em; }
  .md-thread-2 {
    columns: 2 21.33333em; }
  .md-thread-3 {
    columns: 3 16em; } }

@media (min-width: 75em) {
  .lg-thread-1,
  .lg-thread-2,
  .lg-thread-3 {
    column-gap: 1.1rem;
    column-fill: balance; }
  .lg-thread-1 {
    columns: 1 64em; }
  .lg-thread-2 {
    columns: 2 21.33333em; }
  .lg-thread-3 {
    columns: 3 16em; } }

.ascii {
  font-size: 1vw;
  line-height: 1;
  text-align: center;
  text-shadow: 1vw 1vw 0 rgba(82, 197, 191, 0.66), -1vw -1vw 0 rgba(48, 103, 188, 0.66); }

.lhn1 {
  line-height: 0.9; }

.lh1 {
  line-height: 1; }

.lh2 {
  line-height: 1.2; }

.lh3 {
  line-height: 1.5; }

@media (min-width: 35em) {
  .sm-lhn1 {
    line-height: 0.9; }
  .sm-lh1 {
    line-height: 1; }
  .sm-lh2 {
    line-height: 1.2; }
  .sm-lh3 {
    line-height: 1.5; } }

@media (min-width: 51em) {
  .md-lhn1 {
    line-height: 0.9; }
  .md-lh1 {
    line-height: 1; }
  .md-lh2 {
    line-height: 1.2; }
  .md-lh3 {
    line-height: 1.5; } }

@media (min-width: 75em) {
  .lg-lhn1 {
    line-height: 0.9; }
  .lg-lh1 {
    line-height: 1; }
  .lg-lh2 {
    line-height: 1.2; }
  .lg-lh3 {
    line-height: 1.5; } }

.border-printer {
  border: solid transparent;
  border-width: 1px 16px;
  border-image: url("../images/tile.png") 125 133 round; }
  @supports (overflow: -webkit-marquee) and (justify-content: inherit) {
    .border-printer {
      border-image: url("../images/tile.png") 125 133 repeat; } }
  @media (min-width: 35em) {
    .border-printer {
      border-width: 1px 24px; } }
  @media (min-width: 51em) {
    .border-printer {
      border-width: 1px 33px; } }

.border-inherit {
  border-color: inherit; }

.hint {
  position: relative;
  overflow: visible; }
  .hint:before, .hint:after {
    position: absolute;
    left: 50%;
    bottom: 97%;
    visibility: visible;
    opacity: 1;
    z-index: 1023;
    pointer-events: none;
    user-select: none;
    -webkit-transition: transform 0.4s cubic-bezier(0.15, 0.65, 0.35, 1), opacity 0.33s cubic-bezier(0.15, 0.65, 0.35, 1);
    transition: transform 0.4s cubic-bezier(0.15, 0.65, 0.35, 1.33), opacity 0.33s cubic-bezier(0.15, 0.65, 0.35, 1.23); }
  .hint:hover:before, .hint:hover:after {
    transform: translate(-50%, 0.55rem); }
    @media (min-width: 51em) {
      .hint:hover:before, .hint:hover:after {
        transform: translate(-50%, 1.1rem); } }
  .hint:focus:before, .hint:focus:after {
    opacity: 0;
    speak: none; }
  .hint:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    margin-bottom: -1.045rem;
    border-left: 1.1rem solid transparent;
    border-right: 1.1rem solid transparent;
    border-top: 1.1rem solid #131d2c;
    transform: translateX(-50%); }
  .hint:after {
    content: attr(data-hint);
    background-color: #131d2c;
    border-radius: 3px;
    color: #fff;
    line-height: 1.5;
    white-space: normal;
    word-break: break-word;
    margin-right: -1.1rem;
    transform: translateX(-50%);
    font-size: 1.1rem;
    padding: 0.55rem 1.1rem 1.1rem 1.1rem;
    box-shadow: 0 0 1.1rem rgba(0, 0, 0, 0.125); }
    @media (min-width: 51em) {
      .hint:after {
        display: block; } }
    @media (min-width: 75em) {
      .hint:after {
        white-space: nowrap;
        word-break: keep-all;
        padding: 1.1rem 2.2rem;
        font-size: 1.65rem; } }
  .hint.is-edited:before, .hint.is-edited:after {
    opacity: 0;
    transform: translate(-50%, 0); }

.hint[data-hint=""]:before, .hint[data-hint=""]:after,
.hint:not([data-hint]):before,
.hint:not([data-hint]):after {
  display: none;
  opacity: 0;
  speak: none; }

/*

    Utility OpenType v0.1.2
    Simple, CSS utility classes for advanced typographic features.
    http://utility-opentype.kennethormandy.com

*/
.liga {
  -ms-font-feature-settings: "liga";
  -webkit-font-variant-ligatures: common-ligatures;
  font-variant-ligatures: common-ligatures; }

@supports not ((-webkit-font-variant-ligatures: common-ligatures) or (font-variant-ligatures: common-ligatures)) {
  .liga {
    -webkit-font-feature-settings: "liga", "liga", "clig";
    font-feature-settings: "liga", "liga", "clig"; } }

.dlig {
  -ms-font-feature-settings: "dlig";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures; }

@supports not ((-webkit-font-variant-ligatures: discretionary-ligatures) or (font-variant-ligatures: discretionary-ligatures)) {
  .dlig {
    -webkit-font-feature-settings: "dlig", "dlig";
    font-feature-settings: "dlig", "dlig"; } }

.smcp {
  text-transform: uppercase;
  -ms-font-feature-settings: "lnum", "smcp", "c2sc" 0; }

@supports not (font-variant-caps: small-caps) {
  .smcp {
    text-transform: inherit;
    -webkit-font-feature-settings: "onum", "smcp", "c2sc" 0;
    font-feature-settings: "onum", "smcp", "c2sc" 0; } }

@supports (font-variant-caps: small-caps) {
  .smcp {
    text-transform: inherit;
    -webkit-font-feature-settings: "c2sc";
    font-feature-settings: "c2sc";
    font-variant-caps: small-caps; } }

.c2sc {
  text-transform: uppercase;
  font-variant-caps: all-small-caps;
  -ms-font-feature-settings: "smcp" 0, "c2sc"; }

@supports (font-variant-caps: all-small-caps) or (font-feature-settings: "c2sc") {
  .c2sc {
    text-transform: lowercase; } }

@supports not (font-variant-caps: all-small-caps) {
  .c2sc {
    -webkit-font-feature-settings: "onum", "smcp" 0, "c2sc", "smcp", "c2sc";
    font-feature-settings: "onum", "smcp" 0, "c2sc", "smcp", "c2sc"; } }

.c2sc.smcp,
.caps {
  text-transform: uppercase;
  -ms-font-feature-settings: "smcp", "c2sc";
  font-variant-caps: all-small-caps; }

@supports (-webkit-font-feature-settings: "smcp", "c2sc") or (font-feature-settings: "smcp", "c2sc") {
  @supports not (font-variant-caps: all-small-caps) {
    .c2sc.smcp,
    .caps {
      text-transform: inherit;
      -webkit-font-feature-settings: "smcp", "c2sc", "smcp", "c2sc";
      font-feature-settings: "smcp", "c2sc", "smcp", "c2sc"; } } }

@supports not (font-variant-caps: small-caps) {
  @supports not (font-variant-numeric: oldstyle-nums) {
    .smcp.onum {
      -webkit-font-feature-settings: "onum", "smcp" 1;
      font-feature-settings: "onum", "smcp" 1; } } }

@supports not (font-variant-caps: all-small-caps) {
  @supports not (font-variant-numeric: oldstyle-nums) {
    .c2sc.onum,
    .caps.onum {
      text-transform: lowercase;
      -webkit-font-feature-settings: "onum", "smcp" 1;
      font-feature-settings: "onum", "smcp" 1; } } }

.case {
  -webkit-font-feature-settings: "case";
  font-feature-settings: "case"; }

.titl {
  -ms-font-feature-settings: "titl";
  font-variant-caps: titling-caps; }

@supports not (font-variant-caps: titling-caps) {
  .titl {
    -webkit-font-feature-settings: "titl", "titl";
    font-feature-settings: "titl", "titl"; } }

.calt {
  -ms-font-feature-settings: "calt";
  -webkit-font-variant-ligatures: contextual;
  font-variant-ligatures: contextual; }

@supports not ((-webkit-font-variant-ligatures: contextual) or (font-variant-ligatures: contextual)) {
  .calt {
    -webkit-font-feature-settings: "calt", "calt";
    font-feature-settings: "calt", "calt"; } }

.hist {
  -ms-font-feature-settings: "hist";
  font-variant-alternates: historical-forms; }

@supports not (font-variant-alternates: historical-forms) {
  .hist {
    -webkit-font-feature-settings: "hist";
    font-feature-settings: "hist"; } }

.swsh,
.swsh-1 {
  -webkit-font-feature-settings: "swsh";
  font-feature-settings: "swsh"; }

.swsh-2 {
  -webkit-font-feature-settings: "swsh" 2;
  font-feature-settings: "swsh" 2; }

.swsh-3 {
  -webkit-font-feature-settings: "swsh" 3;
  font-feature-settings: "swsh" 3; }

.salt,
.salt-1 {
  -webkit-font-feature-settings: "salt";
  font-feature-settings: "salt"; }

.salt-2 {
  -webkit-font-feature-settings: "salt" 2;
  font-feature-settings: "salt" 2; }

.salt-3 {
  -webkit-font-feature-settings: "salt" 3;
  font-feature-settings: "salt" 3; }

.ss01 {
  -webkit-font-feature-settings: "ss01";
  font-feature-settings: "ss01"; }

.ss02 {
  -webkit-font-feature-settings: "ss02";
  font-feature-settings: "ss02"; }

.ss03 {
  -webkit-font-feature-settings: "ss03";
  font-feature-settings: "ss03"; }

.ss04 {
  -webkit-font-feature-settings: "ss04";
  font-feature-settings: "ss04"; }

.ss05 {
  -webkit-font-feature-settings: "ss05";
  font-feature-settings: "ss05"; }

.ss06 {
  -webkit-font-feature-settings: "ss06";
  font-feature-settings: "ss06"; }

.ss07 {
  -webkit-font-feature-settings: "ss07";
  font-feature-settings: "ss07"; }

.ss08 {
  -webkit-font-feature-settings: "ss08";
  font-feature-settings: "ss08"; }

.ss09 {
  -webkit-font-feature-settings: "ss09";
  font-feature-settings: "ss09"; }

.ss10 {
  -webkit-font-feature-settings: "ss10";
  font-feature-settings: "ss10"; }

.ss11 {
  -webkit-font-feature-settings: "ss11";
  font-feature-settings: "ss11"; }

.ss12 {
  -webkit-font-feature-settings: "ss12";
  font-feature-settings: "ss12"; }

.ss13 {
  -webkit-font-feature-settings: "ss13";
  font-feature-settings: "ss13"; }

.ss14 {
  -webkit-font-feature-settings: "ss14";
  font-feature-settings: "ss14"; }

.ss15 {
  -webkit-font-feature-settings: "ss15";
  font-feature-settings: "ss15"; }

.ss16 {
  -webkit-font-feature-settings: "ss16";
  font-feature-settings: "ss16"; }

.ss17 {
  -webkit-font-feature-settings: "ss17";
  font-feature-settings: "ss17"; }

.ss18 {
  -webkit-font-feature-settings: "ss18";
  font-feature-settings: "ss18"; }

.ss19 {
  -webkit-font-feature-settings: "ss19";
  font-feature-settings: "ss19"; }

.ss20 {
  -webkit-font-feature-settings: "ss20";
  font-feature-settings: "ss20"; }

.frac {
  -ms-font-feature-settings: "frac", "afrc" 0;
  font-variant-numeric: diagonal-fractions; }

@supports not (font-variant-numeric: diagonal-fractions) {
  .frac {
    -webkit-font-feature-settings: "frac", "afrc" 0, "frac";
    font-feature-settings: "frac", "afrc" 0, "frac"; } }

.afrc {
  -ms-font-feature-settings: "frac", "afrc";
  font-variant-numeric: stacked-fractions; }

@supports not (font-variant-numeric: stacked-fractions) {
  .afrc {
    -webkit-font-feature-settings: "frac", "afrc", "afrc";
    font-feature-settings: "frac", "afrc", "afrc"; } }

.ordn {
  -ms-font-feature-settings: "ordn";
  font-variant-numeric: ordinal; }

@supports not (font-variant-numeric: ordinal) {
  .ordn {
    -webkit-font-feature-settings: "ordn", "ordn";
    font-feature-settings: "ordn", "ordn"; } }

.sups {
  font-variant-position: super; }

@supports not (font-variant-position: sup) {
  .sups {
    -webkit-font-feature-settings: "sups", "sups";
    font-feature-settings: "sups", "sups"; }
  @supports (-webkit-font-feature-settings: "sups") or (font-feature-settings: "sups") {
    .sups {
      font-size: 1em;
      vertical-align: baseline; } }
  @supports (overflow: -webkit-marquee) and (justify-content: inherit) {
    .sups {
      vertical-align: super; } } }

.subs,
.sinf {
  font-size: inherit;
  font-variant-position: sub; }

@supports not (font-variant-position: sub) {
  .subs,
  .sinf {
    -webkit-font-feature-settings: "subs", "subs";
    font-feature-settings: "subs", "subs"; }
  @supports (-webkit-font-feature-settings: "subs") or (font-feature-settings: "subs") {
    .subs,
    .sinf {
      font-size: 1em;
      vertical-align: baseline; } }
  @supports (overflow: -webkit-marquee) and (justify-content: inherit) {
    .subs,
    .sinf {
      vertical-align: sub;
      font-size: smaller; } } }

@supports (-webkit-font-feature-settings: "sinf") or (font-feature-settings: "sinf") {
  .sinf {
    font-variant-position: normal;
    -webkit-font-feature-settings: "sinf", "subs" off, "sups" off;
    font-feature-settings: "sinf", "subs" off, "sups" off;
    vertical-align: baseline; } }

@supports (overflow: -webkit-marquee) and (justify-content: inherit) {
  .sinf {
    vertical-align: sub;
    font-size: smaller; } }

.lnum {
  font-variant-numeric: lining-nums; }

@supports not (font-variant-numeric: lining-nums) {
  .lnum {
    -webkit-font-feature-settings: "lnum", "onum" 0, "lnum";
    font-feature-settings: "lnum", "onum" 0, "lnum"; } }

.onum {
  font-variant-numeric: oldstyle-nums; }

@supports not (font-variant-numeric: oldstyle-nums) {
  .onum {
    -webkit-font-feature-settings: "lnum" 0, "onum", "onum";
    font-feature-settings: "lnum" 0, "onum", "onum"; } }

.pnum {
  font-variant-numeric: proportional-nums; }

@supports not (font-variant-numeric: proportional-nums) {
  .pnum {
    -webkit-font-feature-settings: "pnum", "tnum" 0, "pnum";
    font-feature-settings: "pnum", "tnum" 0, "pnum"; } }

.tnum {
  font-variant-numeric: tabular-nums; }

@supports not (font-variant-numeric: tabular-nums) {
  .tnum {
    -webkit-font-feature-settings: "pnum" 0, "tnum", "tnum";
    font-feature-settings: "pnum" 0, "tnum", "tnum"; } }

.lnum.pnum {
  -ms-font-feature-settings: "lnum", "onum" 0, "pnum", "tnum" 0; }

@supports not ((-webkit-font-feature-settings: "onum" inherit) or (font-feature-settings: "onum" inherit)) {
  .lnum.pnum {
    -webkit-font-feature-settings: "lnum", "onum" 0, "pnum", "tnum" 0;
    font-feature-settings: "lnum", "onum" 0, "pnum", "tnum" 0; } }

.lnum.tnum {
  -ms-font-feature-settings: "lnum", "onum" 0, "pnum" 0, "tnum"; }

@supports not ((-webkit-font-feature-settings: "onum" inherit) or (font-feature-settings: "onum" inherit)) {
  .lnum.tnum {
    -webkit-font-feature-settings: "lnum", "onum" 0, "pnum" 0, "tnum";
    font-feature-settings: "lnum", "onum" 0, "pnum" 0, "tnum"; } }

.onum.pnum {
  -ms-font-feature-settings: "lnum" 0, "onum", "pnum", "tnum" 0; }

@supports not ((-webkit-font-feature-settings: "onum" inherit) or (font-feature-settings: "onum" inherit)) {
  .onum.pnum {
    -webkit-font-feature-settings: "lnum" 0, "onum", "pnum", "tnum" 0;
    font-feature-settings: "lnum" 0, "onum", "pnum", "tnum" 0; } }

.onum.tnum {
  -ms-font-feature-settings: "lnum" 0, "onum", "pnum" 0, "tnum"; }

@supports not ((-webkit-font-feature-settings: "onum" inherit) or (font-feature-settings: "onum" inherit)) {
  .onum.tnum {
    -webkit-font-feature-settings: "lnum" 0, "onum", "pnum" 0, "tnum";
    font-feature-settings: "lnum" 0, "onum", "pnum" 0, "tnum"; } }

.onum.zero {
  -ms-font-feature-settings: "onum", "zero"; }

@supports not ((-webkit-font-feature-settings: "onum" inherit) or (font-feature-settings: "onum" inherit)) {
  .onum.zero {
    -webkit-font-feature-settings: "onum", "zero";
    font-feature-settings: "onum", "zero"; } }

.onum.tnum.zero {
  -ms-font-feature-settings: "onum", "zero", "tnum"; }

@supports not ((-webkit-font-feature-settings: "onum" inherit) or (font-feature-settings: "onum" inherit)) {
  .onum.tnum.zero {
    -webkit-font-feature-settings: "onum", "zero", "tnum";
    font-feature-settings: "onum", "zero", "tnum"; } }

.onum.pnum.zero {
  -ms-font-feature-settings: "onum", "zero", "pnum"; }

@supports not ((-webkit-font-feature-settings: "onum" inherit) or (font-feature-settings: "onum" inherit)) {
  .onum.pnum.zero {
    -webkit-font-feature-settings: "onum", "zero", "pnum";
    font-feature-settings: "onum", "zero", "pnum"; } }

.lnum.zero {
  -ms-font-feature-settings: "lnum", "zero"; }

@supports not ((-webkit-font-feature-settings: "onum" inherit) or (font-feature-settings: "onum" inherit)) {
  .lnum.zero {
    -webkit-font-feature-settings: "lnum", "zero";
    font-feature-settings: "lnum", "zero"; } }

.lnum.tnum.zero {
  -ms-font-feature-settings: "lnum", "zero", "tnum"; }

@supports not ((-webkit-font-feature-settings: "onum" inherit) or (font-feature-settings: "onum" inherit)) {
  .lnum.tnum.zero {
    -webkit-font-feature-settings: "lnum", "zero", "tnum";
    font-feature-settings: "lnum", "zero", "tnum"; } }

.lnum.pnum.zero {
  -ms-font-feature-settings: "lnum", "zero", "pnum"; }

@supports not ((-webkit-font-feature-settings: "onum" inherit) or (font-feature-settings: "onum" inherit)) {
  .lnum.pnum.zero {
    -webkit-font-feature-settings: "lnum", "zero", "pnum";
    font-feature-settings: "lnum", "zero", "pnum"; } }

.zero {
  font-variant-numeric: slashed-zero; }

@supports not (font-variant-numeric: slashed-zero) {
  .zero {
    -webkit-font-feature-settings: "zero", "zero";
    font-feature-settings: "zero", "zero"; } }

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .smcp {
    text-transform: lowercase; }
  .c2sc {
    text-transform: lowercase; }
  .c2sc.smcp,
  .caps {
    text-transform: lowercase; } }

.markdown {
  font-family: "Georgia Pro", Georgia, serif; }
  .markdown h1, .markdown h2, .markdown h3, .markdown h4, .markdown h5, .markdown h6 {
    font-family: "Fourteen-oh-three Vintage Mono", "Source Code Pro", Consolas, "Helvetica Neue", Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif, monospace;
    color: rgba(0, 0, 0, 0.5); }
    .markdown h1 i, .markdown h1 em, .markdown h1 cite, .markdown h1 blockquote, .markdown h1 strong, .markdown h1 b, .markdown h2 i, .markdown h2 em, .markdown h2 cite, .markdown h2 blockquote, .markdown h2 strong, .markdown h2 b, .markdown h3 i, .markdown h3 em, .markdown h3 cite, .markdown h3 blockquote, .markdown h3 strong, .markdown h3 b, .markdown h4 i, .markdown h4 em, .markdown h4 cite, .markdown h4 blockquote, .markdown h4 strong, .markdown h4 b, .markdown h5 i, .markdown h5 em, .markdown h5 cite, .markdown h5 blockquote, .markdown h5 strong, .markdown h5 b, .markdown h6 i, .markdown h6 em, .markdown h6 cite, .markdown h6 blockquote, .markdown h6 strong, .markdown h6 b {
      font-style: normal;
      font-weight: normal; }
    .markdown h1 .caps, .markdown h2 .caps, .markdown h3 .caps, .markdown h4 .caps, .markdown h5 .caps, .markdown h6 .caps {
      text-transform: uppercase;
      font-variant-caps: normal; }
      @supports not (font-variant-caps: normal) {
        .markdown h1 .caps, .markdown h2 .caps, .markdown h3 .caps, .markdown h4 .caps, .markdown h5 .caps, .markdown h6 .caps {
          font-feature-settings: "lnum" 1, "smcp" 0, "c2sc" 0; } }
  .markdown h1 {
    color: #7b9982;
    font-weight: 300;
    font-size: 3rem; }
    @media (min-width: 51em) {
      .markdown h1 {
        text-align: center; } }
    @media (min-width: 75em) {
      .markdown h1 {
        text-align: left;
        font-size: 4rem; } }
  .markdown i, .markdown em, .markdown cite, .markdown blockquote {
    font-style: italic; }
  .markdown b, .markdown strong {
    font-weight: bold; }
  .markdown figure {
    margin-top: 2.2rem;
    margin-bottom: 2.2rem; }
  .markdown figcaption {
    padding: 1.1rem;
    background: #7b9982;
    color: #fff; }
    .markdown figcaption i, .markdown figcaption em, .markdown figcaption cite, .markdown figcaption blockquote, .markdown figcaption strong, .markdown figcaption b {
      font-style: normal;
      font-weight: normal; }
    .markdown figcaption .caps {
      text-transform: uppercase;
      font-variant-caps: normal; }
      @supports not (font-variant-caps: normal) {
        .markdown figcaption .caps {
          font-feature-settings: "lnum" 1, "smcp" 0, "c2sc" 0; } }
  .markdown figcaption,
  .markdown blockquote footer {
    font-family: "Fourteen-oh-three Vintage Mono", "Source Code Pro", Consolas, "Helvetica Neue", Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif, monospace;
    font-style: normal;
    font-size: 0.875rem; }
  .markdown blockquote footer {
    text-indent: -0.58em;
    margin-left: 0; }
    .markdown blockquote footer:before {
      content: "—"; }
  .markdown > blockquote:first-child {
    font-size: 2rem;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    max-width: 100%; }
    .markdown > blockquote:first-child footer {
      text-align: left; }
      @media (min-width: 35em) {
        .markdown > blockquote:first-child footer {
          max-width: 66%; } }
      @media (min-width: 51em) {
        .markdown > blockquote:first-child footer {
          max-width: 50%; } }
    @media (min-width: 35em) {
      .markdown > blockquote:first-child {
        max-width: 66%; } }
    @media (min-width: 51em) {
      .markdown > blockquote:first-child {
        max-width: 75%; } }
    @media (min-width: 75em) {
      .markdown > blockquote:first-child {
        max-width: 100%; } }
  .markdown ul, .markdown ol {
    padding-left: 2.2rem;
    padding-right: 2.2rem; }
    @media (min-width: 51em) {
      .markdown ul, .markdown ol {
        padding-left: 0;
        padding-right: 0; } }
  .markdown a {
    color: inherit;
    border-bottom: 1px solid #8DAF91;
    text-decoration: none; }
  .markdown pre code {
    display: block;
    background-color: #131d2c;
    color: white;
    padding: 1.1rem;
    margin-bottom: 1.5rem; }
  .markdown code {
    background-color: rgba(0, 0, 0, 0.0625);
    padding-left: 0.275rem;
    padding-right: 0.275rem;
    border-radius: 3px; }

@media (min-width: 75em) {
  .lg-shift-n5 {
    margin-top: -15%;
    margin-bottom: -15%; } }

.is-invisible {
  opacity: 0; }

.animated {
  animation-duration: 1s;
  animation-fill-mode: both; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.fadeIn {
  animation-name: fadeIn; }

.ie img[src*=".svg"] {
  width: 100%; }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  img[src*=".svg"] {
    width: 100%; } }

@page {
  size: portrait;
  margin: 0.5in 0.75in 0.5in 0.75in; }

@media print {
  *,
  *:before,
  *:after,
  *:first-letter,
  *:first-line {
    background: transparent !important;
    color: #000 !important;
    opacity: 1.0 !important;
    box-shadow: none !important;
    text-shadow: none !important;
    fill: #000 !important; }
  a,
  a:visited {
    text-decoration: underline; }
  pre,
  blockquote {
    page-break-inside: avoid; }
  thead {
    display: table-header-group; }
  tr,
  img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; }
  .print-show {
    display: block;
    visibility: visible; }
    .print-show.hidden {
      visibility: visible; }
  .print-hide,
  [data-hint]:before,
  [data-hint]:after {
    display: none; }
  .print-poster {
    overflow: hidden;
    max-height: 8.5in;
    width: 100%;
    padding: 0;
    margin: 0; }
  .border-printer {
    box-sizing: border-box;
    border-image: none !important;
    border: none !important;
    border-bottom: 1pt solid black !important;
    margin: 0 !important;
    padding: 0.125in 0.125in !important; }
    .border-printer:last-of-type {
      border-bottom: none !important; } }

.no-ffs-show,
.no-ffs-show-inline {
  display: none;
  visibility: hidden; }

.no-ffs .no-ffs-hide {
  display: none;
  visibility: hidden; }

.no-ffs .no-ffs-show {
  display: block;
  visibility: visible; }

.no-ffs .no-ffs-show-inline {
  display: inline;
  visibility: visible; }

.sticky {
  position: sticky; }

.in-place {
  height: 10rem;
  margin-top: -10rem;
  pointer-events: none; }

@media (min-height: 35em) and (min-width: 51em) {
  .in-place {
    height: 30rem;
    margin-top: -30rem; } }

.this-section {
  text-shadow: 0 0 0 rgba(255, 255, 255, 0.1); }

@media (min-width: 51em) {
  .overlay-button {
    overflow: visible;
    height: 0;
    position: relative;
    transform: translateY(-8rem); } }

@media (min-width: 75em) {
  .overlay-button {
    transform: translateY(-12rem); } }
