[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[comments]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"

[packages]
django = "~=2.2"
mongoengine = "~=0.17.0"
django-cors-headers = "~=2.5.2"
tensorflow = "~=1.13.1"
keras = "~=2.2.4"
pillow = "~=6.0.0"
opencv-python = "~=4.0.1.24"
pipenv-to-requirements = "~=0.7.1"
channels = "~=2.2"
channels-redis = "==2.4.0"
asgiref = "==3.0.0"
celery = "==4.3.0"
cryptography = "==2.6.1"
daphne = "~=2.3"
redis = "~=3.2.1"
ipython = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.7"
