[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[comments]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"

[packages]
django = "*"
mongoengine = "*"
django-cors-headers = "*"

[dev-packages]

[requires]
python_version = "3.7"
